body{
    background-image:url(images/20200130_202944.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.wrapper{
    width: 99%;
}

.nav-link{
    margin: 10px;
    background-color: #14213d;
    color: #e5e5e5;
    border-radius: 5px;
}

.nav-link:hover{
    background-color: #e5e5e5;
    color: #14213d;
}

.card{
    background-color: #14213d;
    color: #e5e5e5;
    position: sticky;
}

#profile-card{
    position: fixed;
    margin-left: 3.7vw;
    width: 15%;
    border-radius: 20px;
}

#profile-pic{
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    object-position: 20%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 20px;
}

.btn{
    background-color: #e5e5e5;
    color: #14213d;
    margin: 10px;
}

.btn:hover{
    background-color: #14213d;
    color: #e5e5e5;
}

.body-text{
    margin: 2vw 0 0 6vw;
    background: rgba(229,229,229, 0.8);
    padding: 40px;
    border-radius: 20px;
}

h2{
  border-bottom: 2px solid #14213d;  
}

.project-title{
    border-bottom: 2px solid #14213d;
}