.wrapper{
    width: 99%;
}

.card{
    background-color: #14213d;
    color: #e5e5e5;
    position: sticky;
}

.btn{
    background-color: #e5e5e5;
    color: #14213d;
    margin: 10px;
}

.btn:hover{
    background-color: #14213d;
    color: #e5e5e5;
}

.body-text{
    margin: 2vw 0 0 6vw;
    background: rgba(229,229,229, 0.8);
    padding: 40px;
    border-radius: 20px;
}

.project-title{
    border-bottom: 2px solid #14213d;
}